// -- Backgrounds -- //

// https://github.com/fogleman/primitive //
// ls -m | sed -e 's/\.jpg//g' //
// for F in *.jpg; do ~/go/bin/primitive -i $F -o `basename ${F%.jpg}`.svg -n 180 -m 0; done //

$backgrounds: (alvan-nee-9M0tSjb-cpA-unsplash,
alvan-nee-LHeDYF6az38-unsplash,
alvan-nee-eoqnr8ikwFE-unsplash,
berkay-gumustekin-ngqyo2AYYnE-unsplash,
bharathi-kannan-BrtCGcrZd10-unsplash,
braedon-mcleod-jSUsJWvnnEA-unsplash,
chris-arthur-collins-qGkVJ7Tx36s-unsplash,
daniela-kalwarowskyj-b7SV9LyfmEA-unsplash,
david-lezcano-m-Doa-GTrUw-unsplash,
dong-cheng-u8bLZX6q3E4-unsplash,
drew-hays-zGihyVlNvb0-unsplash,
felipepelaquim-9JuzOoPcuHI-unsplash,
gabe-rebra-NzdjuGxj_18-unsplash,
hyunwon-jang-LYK3ksSQyeo-unsplash,
jairo-alzate-sssxyuZape8-unsplash,
jaycee-xie-TcByXvrIrno-unsplash,
jennifer-minniecon-0t4t_hEA8OM-unsplash,
joe-caione-qO-PIF84Vxg-unsplash,
jordan-davis-JSfsK9VH4q8-unsplash,
karsten-winegeart-NE0XGVKTmcA-unsplash,
lucrezia-carnelos-WrG-lFojjW4-unsplash,
magdalena-smolnicka-wfXIDJkq1TM-unsplash,
marieke-koenders--36fsA0wDLA-unsplash,
mark-fletcher-brown-E9pXiKUGjPU-unsplash,
matt-botsford-8Ja70K5VvoI-unsplash,
mohsen-pourbohlool-eDTE04oB5sg-unsplash,
patrick-kool-06EFQVjKIB8-unsplash,
paul-postema-qYYTnPdwf-Y-unsplash,
shane-guymon-KCdYn0xu2fU-unsplash,
shridhar-dixit-H-sl52YkFMg-unsplash,
t-r-photography-TzjMd7i5WQI-unsplash,
tijana-drinic-AyjZ3FD2AFg-unsplash,
victor-grabarczyk-2pbnDRhXc6Q-unsplash,
victor-grabarczyk-N04FIfHhv_k-unsplash,
zoltan-tasi-NBZQ5E86-z8-unsplash);

@for $i from 1 through length($backgrounds) {
  $background: nth($backgrounds, $i);
  .background-#{$i} {
    background: url("/backgrounds/#{$background}.svg") no-repeat center center fixed, $black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

:root {
  --background-min:1;
  --background-max:#{length($backgrounds)};
}
// -- Backgrounds -- //