// -- Regular Elements -- //
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
	&:-webkit-full-screen {
  	margin-top: 20px;
	}
}

p {margin: 0.5em 0.5em;}

a {
  text-underline-offset: 0.25em;
  text-decoration: none; 
  color: inherit;
}
// -- Regular Elements -- //

// -- Action / Jump Links -- //
a.link-action, a.link-jump {
	&:hover {
    color: $colour-highlight !important;
    opacity: 1 !important;
	}
}
// -- Action Links -- //

// -- Top Alerts -- //
body > .alert {
  border: none !important;
  border-radius: 0 !important;
}
// -- Alerts -- //

// -- Highlight Elements -- //
.bg-highlight {
  background-color: $colour-highlight !important;
}

.text-highlight {
  color: $colour-highlight !important;
}

.text-highlight-mid {
  color: $colour-highlight-mid !important;
}

.text-highlight-dark {
  color: $colour-highlight-dark !important;
}

.text-highlight-darkest {
  color: $colour-highlight-darkest !important;
}

.border-highlight {
  border-color: $colour-highlight !important;
}

.badge-highlight {
  color: $colour-background !important;
	background-color: $colour-highlight;
}

.badge-black {
  color: $colour-highlight !important;
	background-color: $colour-background;
}

// -- Highlight Elements -- //

// -- Content Area -- //
.content {
	width: 100%;
}
.modal-open {
  @include transition(background-color 1s ease-in-out);
  > .content {
    @include transition(filter 1s linear);
    @include filter(blur, 4px);
  }  
}
.bg-page {
  background-color: $colour-page !important; 
}
// -- Content Area -- //

// -- Outline Letter Logo -- //
a.navbar-brand.logo, .navbar-brand a.logo {
	svg {
		height: 40px;	
		pointer-events: visible;
  }
}
// -- Outline Letter Logo -- //

// -- Navigation Bar -- //
.sd-navbar {
  background-color: $colour-header;
  box-shadow: -0.5rem 0.5rem 1rem rgba(0,0,0,0.4), inset 0 -1px 0 rgba(0,0,0,0.1);
}
// -- Navigation Bar -- //

// -- General -- //
.bg-dark {
  background-color: $colour-dark !important; 
}
// -- General -- //

// -- Opacities -- //
$opacities: ("10": 0.1, "25": 0.25, "40": 0.40, "50": 0.5, "60": 0.6, "70": 0.7, "75": 0.75, "80": 0.8, "90": 0.9, "100": 1);

@each $name, $opacity in $opacities {
  .o-#{$name} {
    opacity: $opacity;
  }
}
// -- Opacties -- //

// -- Titles and Content -- //
.features, .titles {
  width: fit-content;
}

.titles, .copyright, .important {
  border-left-color: $colour-highlight;
  border-left-width: 4px;
  border-left-style: solid;
}
// -- Titles and Content -- //

// -- Main -- //
.main {
  border-top-color: $colour-highlight;
  border-top-width: 4px;
  border-top-style: solid;
}
// -- Main -- //#

a.help-link:hover {
  color: $colour-highlight;
}