.foo {content: "bar";}

html {
	font-family: $font-general;
  font-weight: $font-weight;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";
  font-kerning: normal;
	line-height: 1.4  // Shift to variables;
}

body {	
	font-size: 14px;
  & > * {color: $colour-foreground;}
}

h1 {color: $colour-highlight;}
h1, h2, h3, h4, h5, h6 {
  &.brand {
    letter-spacing: $font-spacing-heading;
  }
  font-family: $font-heading, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  &.price, .price {
    font-family: $font-general, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  }
  font-weight: $font-weight-heading;
  margin: 0.6em 0 0.2em 0;
	a {
		color: $colour-emphasis;
		&:hover {color: $colour-highlight;}
	}
}

// -- Font Sizes -- //
h6 {font-size: 100%};
h5 {font-size: 105%};
h4 {font-size: 110%};
h3 {font-size: 120%};
h2 {font-size: 160%};
h1 {font-size: 300%};

$larger-sizes: ("300": 300%, "200": 200%, "150": 150%);

$smaller-sizes: ("90": 90%, "80": 80%, "70": 70%, "60": 60%, "50": 50%, "40": 40%, "30": 30%, "20": 20%, "10": 10%);

@each $name, $size in $smaller-sizes {
  .font-smaller-#{$name} {
    font-size: $size;
  }
  .line-height-smaller-#{$name} {
    line-height: $size;
  }
}

@each $name, $size in $larger-sizes {
  .font-larger-#{$name} {
    font-size: $size
  }
  .line-height-larger-#{$name} {
    line-height: $size;
  }
}
// -- Font Sizes -- //