// -- Regular Elements -- //
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background: $colour-background;
  background: radial-gradient(circle, rgba(96,91,18,1) 0%, rgba(60,63,9,1) 16%, rgba(40,44,4,1) 33%, rgba(0,0,0,1) 80%);
	&:-webkit-full-screen {
  	margin-top: 20px;
	}
}

p {margin: 0.5em 0.5em;}

a {text-decoration: none; color: inherit;}

h1, h2, h3, h4, h5, h6, ul, nav.menu {text-align: center;}
// -- Regular Elements -- //

// -- Content Area -- //
.content {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
}
// -- Content Area -- //

// -- Fonts -- //

// -- Font Sizes -- //
h6 {font-size: 100%};
h5 {font-size: 110%};
h4 {font-size: 125%};
h3 {font-size: 150%};
h2 {font-size: 200%};
h1 {font-size: 500%};

h1 {
  font-weight: bold;
}

h2, h3, h4, h5, h6 {
  color: #ffffff;
}
// -- Fonts -- //

// -- Centering Element -- //
.t {
  display:table;
  position:absolute;
  height:100%;
  width:100%;
  overflow: hidden;
  border-left: 8px solid darken($colour-highlight, 10%);
  border-right: 8px solid darken($colour-foreground, 10%);
}

.c {
  display:table-cell;
  vertical-align:middle;
}

.i {
  margin-left:auto;
  margin-right:auto;
  max-width: 600px;
}
// -- Centering Element -- //

// -- Ribbons -- //
.corner-ribbon {
  text-transform: uppercase;
  color: $colour-background;
}

.app-ribbon {
  background-color: $colour-highlight;
  &:hover {
    background-color: darken($colour-highlight, 20%);
  }
}

.about-ribbon {
  background-color: $colour-foreground;
  &:hover {
    background-color: darken($colour-foreground, 20%);
  }
}
// -- Ribbons -- //