.library {
  border-width: 2px !important;
  min-width: 16rem;
  @include media-breakpoint-up(sm) {
    max-width: 24rem;
  }
  &.hide {
    @include animation(fadeOutGracefully 0.6s ease-in-out);
    visibility: hidden;
  }
}

@include animation-keyframes(fadeOutGracefully) {
	0% {opacity: 1; visibility: visible;}
  100% {opacity: 0; visibility: hidden;}
}