.corner-ribbon {
  z-index: 2;
  width: 200px;
  position: absolute;
  top: 30px;
  left: -50px;
  text-align: center;
  line-height: 30px;
  letter-spacing: 1px;
  &.large-ribbon {
    line-height: 45px;
    letter-spacing: 1.4px;
    font-size: 150%;
    font-weight: bold;
  }
  @include rotate(-45);
  &.top-left {
    top: 30px;
    left: -50px;
    @include rotate(-45);
  }
  &.top-right {
    top: 30px;
    right: -50px;
    left: auto;
    @include rotate(45);
  }
  &.bottom-left {
    top: auto;
    bottom: 30px;
    left: -50px;
    @include rotate(45);
  }
  &.bottom-right {
    top: auto;
    right: -50px;
    bottom: 30px;
    left: auto;
    @include rotate(-45);
  }
  &.shadow-deep {
    box-shadow: 0 0.5rem 2rem $colour-shadow !important;
  }
}