/* == Fonts == */
$font-branding:               "Amatic SC";
$font-heading:								"Acme";
$font-subheading:							"Roboto", sans-serif;
$font-general:								"Poppins", sans-serif;

$fonts-branding:              $font-branding, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
$fonts-heading:               $font-heading, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
$fonts-subheading:            $font-subheading, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
$fonts-general:               $font-general, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;

$font-source:                 "Roboto Mono", "Anonymous Pro", "Space Mono", "Fira Mono", Inconsolata, monospace;
$font-weight-heading:					400;
$font-weight-bold:					  700;
$font-weight:									400;
$font-spacing-heading:				0.1rem;

/* == Colours == */
$colour-background: 					#000000;
$colour-background-dark:      lighten($colour-background, 5%);
$colour-background-light:     lighten($colour-background, 10%);
$colour-background-lightest:  lighten($colour-background, 50%);

$colour-navigator:            rgba(#871f52, 0.1);
$colour-navigator-input:      rgba(#871f52, 0.2);
$colour-bright: 	  					#ffffff;
$colour-emphasis: 						#cccccc;
$colour-deemphasise:          #f3f3f3;
$colour-foreground: 					darken($colour-emphasis, 10%);
$colour-main:                 transparentize($colour-background, 0.7);
$colour-header:               transparentize($colour-background, 0.4);
$colour-page:                 transparentize($colour-background, 0.25);
$colour-dark:                 transparentize($colour-background, 0.2);
$colour-shadow:               transparentize($colour-background, 0.6);
$colour-highlight: 						#fef513;
$colour-highlight-dark:       darken($colour-highlight, 20%);
$colour-highlight-darkest:    darken($colour-highlight, 40%);
$colour-debug: 								#888888;
$colour-busy-line:            #646464;
$colour-create-fill:          #cc0099;
$colour-load-fill:            #5b9e60;
$colour-save-fill:            #ffaa00;
$colour-delete-fill:          #e60000;
$colour-commit-fill:          #5c5cd6;
$colour-background-menu:      #fafafa;
$colour-section:              #101010;
$colour-support:              #ccc504;
$colour-general:              #000000;

/* == Sizes == */
$navigator-line:              1.1rem;
$busy:                        0.9rem;