	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta name="description" content="{{ site.description }}">	
		
		<!-- Enable responsiveness on mobile devices-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">

		<title>
			{% if page.title == "Home" %}
				{{ site.title }}
			{% elsif page.title %}
				{{ page.title }}
			{% else %}
				{{ site.title }}
			{% endif %}
		</title>

		<!-- CSS -->
		<style type="text/css">{% capture include_to_scssify %}{% include style.scss %}{% endcapture %}{{ include_to_scssify | scssify }}</style>
		
		<!-- === Async CSS === -->
		
		<!-- Google Fonts -->
		<link rel="preload" href="https://fonts.googleapis.com/css?family={{ site.fonts }}" as="style" onload="this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family={{ site.fonts }}"></noscript>
		
		<!-- Bootstrap -->
		<link rel="preload" href="{{ site.cdn }}/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" as="style" onload="this.rel='stylesheet'" integrity="sha256-rr9hHBQ43H7HSOmmNkxzQGazS/Khx+L8ZRHteEY1tQ4=" crossorigin="anonymous" />
		<noscript><link rel="stylesheet" href="{{ site.cdn }}/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha256-rr9hHBQ43H7HSOmmNkxzQGazS/Khx+L8ZRHteEY1tQ4=" crossorigin="anonymous" /></noscript>
		
		<!-- Script from: https://github.com/filamentgroup/loadCSS Licence = The MIT License (MIT) | Copyright (c) 2014 Filament Group -->
		<script>
			(function(w){
				"use strict";
				var loadCSS = function( href, before, media ){
					var doc = w.document;
					var ss = doc.createElement( "link" );
					var ref;
					if( before ){
						ref = before;
					}
					else {
						var refs = ( doc.body || doc.getElementsByTagName( "head" )[ 0 ] ).childNodes;
						ref = refs[ refs.length - 1];
					}

					var sheets = doc.styleSheets;
					ss.rel = "stylesheet";
					ss.href = href;
					ss.media = "only x";

					function ready( cb ){
						if( doc.body ){
							return cb();
						}
						setTimeout(function(){
							ready( cb );
						});
					}

					ready( function(){
						ref.parentNode.insertBefore( ss, ( before ? ref : ref.nextSibling ) );
					});

					var onloadcssdefined = function( cb ){
						var resolvedHref = ss.href;
						var i = sheets.length;
						while( i-- ){
							if( sheets[ i ].href === resolvedHref ){
								return cb();
							}
						}
						setTimeout(function() {
							onloadcssdefined( cb );
						});
					};

					function loadCB(){
						if( ss.addEventListener ){
							ss.removeEventListener( "load", loadCB );
						}
						ss.media = media || "all";
					}

					if( ss.addEventListener ){
						ss.addEventListener( "load", loadCB);
					}
					ss.onloadcssdefined = onloadcssdefined;
					onloadcssdefined( loadCB );
					return ss;
				};
				if( typeof exports !== "undefined" ){
					exports.loadCSS = loadCSS;
				}
				else {
					w.loadCSS = loadCSS;
				}
			}( typeof global !== "undefined" ? global : this ));

			(function( w ){

				if( !w.loadCSS ){
					return;
				}
				var rp = loadCSS.relpreload = {};
				rp.support = function(){
					try {
						return w.document.createElement("link").relList.supports( "preload" );
					} catch (e) {}
				};

				rp.poly = function(){
					var links = w.document.getElementsByTagName( "link" );
					for( var i = 0; i < links.length; i++ ){
						var link = links[ i ];
						if( link.rel === "preload" && (link.getAttribute( "as" ) === "style" | link.getAttribute( "as" ) === "stylesheet" )){
							w.loadCSS( link.href, link );
							link.rel = null;
						}
					}
				};

				if( !rp.support() ){
					rp.poly();
					var run = w.setInterval( rp.poly, 300 );
					if( w.addEventListener ){
						w.addEventListener( "load", function(){
							w.clearInterval( run );
						} )
					}
				}
			}( this ));
		</script>

		<!-- JQuery [Cloudflare CDN Hosted] -->
		<script src="{{ site.cdn }}/jquery/3.1.1/jquery.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        
		<!-- JQuery URL Parser [Cloudflare CDN Hosted] -->
		<script src="{{ site.cdn }}/jquery-url-parser/2.3.1/purl.min.js" integrity="sha256-Ok1mfwLL3kRzz/1DUpgwsieObDr+pGVBAKaFxeyXeNk=" crossorigin="anonymous"></script>
		
		<!-- Tether [Cloudflare CDN Hosted] -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha256-gL1ibrbVcRIHKlCO5OXOPC/lZz/gpdApgQAzskqqXp8=" crossorigin="anonymous"></script>
		
		<!-- Bootstrap [Cloudflare CDN Hosted] -->
		<script src="{{ site.cdn }}/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha256-+kIbbrvS+0dNOjhmQJzmwe/RILR/8lb/+4+PUNVW09k=" crossorigin="anonymous"></script>

		<!-- LocalForage [Cloudflare CDN Hosted] -->
		<script src="{{ site.cdn }}/localforage/1.5.0/localforage.min.js" integrity="sha256-kAq48olJYgx7dR+P9KbS+Q1OjM1vNGUSFDjQjcM0lKA=" crossorigin="anonymous"></script>

		<!-- Moment [Cloudflare CDN Hosted] -->
		<script src="{{ site.cdn }}/moment.js/2.17.1/moment.min.js" integrity="sha256-Gn7MUQono8LUxTfRA0WZzJgTua52Udm1Ifrk5421zkA=" crossorigin="anonymous"></script>

		<!-- Loki [Cloudflare CDN Hosted] -->
		<script src="{{ site.cdn }}/lokijs/1.4.3/lokijs.min.js" integrity="sha256-ckcuThlE+RkCB4afGchrhtFJVcrCnbH454md56Rzw44=" crossorigin="anonymous"></script>

		<!-- Showdown [Cloudflare CDN Hosted] -->
		<script src="{{ site.cdn }}/showdown/1.6.4/showdown.min.js" integrity="sha256-zA+ZIy6Tri6PReZFQ8DksaeqShqWgMi4EU4ZH0hDfys=" crossorigin="anonymous"></script>

		<!-- Hello.js [Cloudflare CDN Hosted] -->
		<script src="{{ site.cdn }}/hellojs/1.14.0/hello.min.js" integrity="sha256-/N9b4TAsn9lEmApyF4DvBJoHfquJinuThk9XA/cT9lw=" crossorigin="anonymous"></script>
		
		<!-- Google Hosted JS-API -->
		<script src="https://apis.google.com/js/api.js"></script>
		
		<!-- Application Page Script -->
		{% if page.scripts %}{% assign _scripts = page.scripts | split: ';' %}{% for _script in _scripts %}
			<script src="{{ site.baseurl }}script/{{ _script }}" type="text/javascript" charset="utf-8"></script>
		{% endfor %}{% endif %}
		
		<!-- Icons -->
		
		<!-- APPLE / IOS Device Touch Icons -->
		
		<!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
		<link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}ico/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="57x57" href="{{ site.baseurl }}ico/apple-icon-57x57.png">
		
		<link rel="apple-touch-icon" sizes="60x60" href="{{ site.baseurl }}ico/apple-icon-60x60.png">
		
		<!-- For first- and second-generation iPad: -->
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png">
		<link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}ico/apple-icon-72x72.png">
		
		<link rel="apple-touch-icon" sizes="76x76" href="{{ site.baseurl }}ico/apple-icon-76x76.png">
		
		<!-- For iPhone with high-resolution Retina display: -->
		<link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}ico/apple-icon-114x114.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.baseurl }}ico/apple-icon-114x114.png">
		
		<link rel="apple-touch-icon" sizes="120x120" href="{{ site.baseurl }}ico/apple-icon-120x120.png">
		
		<!-- For third-generation iPad with high-resolution Retina display: -->
		<link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}ico/apple-icon-144x144.png">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}ico/apple-icon-144x144.png">
		
		<link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl }}ico/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}ico/apple-icon-180x180.png">
		
		<!-- APPLE / IOS Device Touch Icons -->

		<!-- APPLE / IOS Device Splash Screens -->

		<!-- iPhone -->
		<link rel="apple-touch-startup-image" href="{{ site.baseurl }}ico/apple-startup-iphone.png" media="(device-width: 320px)">
		<!-- iPhone (Retina) -->
		<link rel="apple-touch-startup-image" href="{{ site.baseurl }}ico/apple-startup-iphone4.png" media="(device-width: 320px) and (device-height: 460px) and (-webkit-device-pixel-ratio: 2)">
		<!-- iPhone 5 (Retina) Splash Screen-->
		<link rel="apple-touch-startup-image" href="{{ site.baseurl }}ico/apple-startup-iphone5.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)">
		<!-- iPad (non-Retina) (Portrait) -->
		<link rel="apple-touch-startup-image" href="{{ site.baseurl }}ico/apple-startup-ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
		<!-- iPad (non-Retina) (Landscape) -->
		<link rel="apple-touch-startup-image" href="{{ site.baseurl }}ico/apple-startup-ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
		<!-- iPad (Retina) (Portrait) -->
		<link rel="apple-touch-startup-image" href="{{ site.baseurl }}ico/apple-startup-ipad3-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio: 2)">
		<!-- iPad (Retina) (Landscape) -->
		<link rel="apple-touch-startup-image" href="{{ site.baseurl }}ico/apple-startup-ipad3-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio: 2)">
		
		<!-- APPLE / IOS Device Splash Screens -->
		
		<!-- Other Device Touch Icons -->
		<link rel="icon" type="image/png" sizes="192x192" href="{{ site.baseurl }}ico/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}ico/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="{{ site.baseurl }}ico/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}ico/favicon-16x16.png">
		<!-- Other Device Touch Icons -->
		
		<link rel="manifest" href="{{ site.baseurl }}manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="{{ site.baseurl }}ico/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
		
		<!-- Don't use until we get round the GAPI Problems -->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-title" content="Scriptr">
		<meta name="mobile-web-app-capable" content="yes"> <!-- Allow Home-Pinned Site on Android -->
		
	</head>