<nav id="site_nav" class="navbar navbar-expand-lg navbar-dark sd-navbar">

  <button class="navbar-toggler navbar-toggler-right css-sensitive" type="button" data-toggle="collapse" data-target="#main_Nav" aria-controls="main_Nav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand logo jump" href="/" data-toggle="tooltip" title="Return to Home Page"><span class="sr-only css-sensitive">Return to Home Page</span>{% include images/logo.svg %}</a>

  <div class="navbar-nav-scroll">
    <ul class="navbar-nav bd-navbar-nav flex-row">
      <li class="nav-item{% if page.app == 'landing' %} active{% endif %}">
        <a class="nav-link" href="/app/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item{% if page.app == 'library' %} active{% endif %}">
        <a class="nav-link disabled state-authenticated" href="/app/library/">Library</a>
      </li>
      <li class="nav-item{% if page.app == 'manage' %} active{% endif %}">
        <a class="nav-link disabled state-authenticated" href="/app/manage/">Manage</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about/">About</a>
      </li>
    </ul>
  </div>
  
  {% if page.app and page.layout == "app" %}<div class="ml-md-auto d-flex">
    
    <ul class="navbar-nav flex-row d-none d-md-flex">
    
      <li class="navbar-status mr-2 o-50" data-toggle="tooltip" data-placement="bottom" data-trigger="hover" title="App Status Display for Background Tasks">
        <button type="button" class="btn btn-outline-status rounded waves-effect loader-small loader-dark d-none" style="opacity: 0;">
          <span class="loading float-left">
            <span class="d-block spinner"></span>
          </span>
          <i class="material-icons md-1 ml-2 float-right result result-success font-weight-bold d-none">check</i>
          <i class="material-icons md-1 ml-2 float-right result result-failure d-none">error</i>
          <span class="text ml-1"></span>
          <span class="sr-only">App Status Display for Background Tasks</span>
        </button>
      </li>

    </ul>
    
    <div class="d-none show-library">
      <form class="d-inline-flex flex-column flex-sm-row form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
      </form>  
    </div>
    
    <div class="d-inline-flex flex-column flex-sm-row align-items-center mb-1 mb-md-0 ml-md-3">

      <div id="auth_processing" class="form-inline mt-1 mt-md-0 text-muted font-weight-light waiting" style="display: none;">Checking</div>

      <form id="sign_out" class="form-inline mt-1 mt-md-0" style="display: none;">
        <span class="navbar-text mr-2"><span class="d-inline d-md-none d-lg-inline">Signed in as </span><a id="user_details" class="navbar-link username" target="_blank" href="https://security.google.com/settings/security/permissions" rel="noopener" data-toggle="tooltip" ></a></span>
        <a class="btn my-0 btn-outline-action" href="#" data-toggle="tooltip" ><span>Sign Out</span></a>
      </form>

      <form id="sign_in" class="form-inline mt-1 mt-md-0" style="display: none;">
        <a class="btn my-0 btn-outline-action" href="#" data-toggle="tooltip" >
          <div class="google-logo-wrapper d-flex align-items-center">
            <div class="google-logo d-flex">{% include images/google.svg %}</div>
          </div>
          <span class="d-none d-lg-inline">Sign in with Google</span>
          <span class="d-inline d-lg-none">Sign In</span>
        </a>
      </form>

    </div>
    
  </div>{% endif %}

</nav>