<header class="navbar navbar-expand flex-column flex-md-row navbar-dark sd-navbar pt-1 pt-md-2">
  
  <a class="navbar-brand logo jump mr-3 d-none d-md-inline-block" href="/" data-toggle="tooltip" title="Return to Home Page">
    <span class="sr-only css-sensitive">Return to Home Page</span>
    {%- include images/logo.svg -%}
  </a>
  
  <div class="navbar-nav-scroll">
    <ul class="navbar-nav bd-navbar-nav flex-row">
      <li class="nav-item d-md-none">
        <a class="nav-link font-weight-bold" href="/">
          <span class="bg-highlight text-dark p-1 rounded">SD</span>
          <span class="sr-only css-sensitive">Return to Home Page</span></a>
      </li>
      <li class="nav-item{% if page.app == 'landing' %} active{% endif %}">
        <a class="nav-link" href="/app/">Home{% if page.app == 'landing' %}<span class="sr-only">(current)</span>{% endif %}</a>
      </li>
      <li class="nav-item{% if page.app == 'library' %} active{% endif %}">
        <a class="nav-link disabled state-authenticated" href="/app/library/">Library{% if page.app == 'library' %}<span class="sr-only">(current)</span>{% endif %}</a>
      </li>
      <li class="nav-item{% if page.app == 'manage' %} active{% endif %}">
        <a class="nav-link disabled state-authenticated" href="/app/manage/">Manage{% if page.app == 'manage' %}<span class="sr-only">(current)</span>{% endif %}</a>
      </li>
      <li class="nav-item{% if page.app == 'settings' %} active{% endif %}">
        <a class="nav-link disabled state-authenticated" href="/app/settings/">Settings{% if page.app == 'setting' %}<span class="sr-only">(current)</span>{% endif %}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about/">About</a>
      </li>
    </ul>
  </div>
  
  {% if page.app and page.layout == "app" %}<div class="ml-md-auto d-flex flex-column flex-sm-row align-items-center">
    
    <ul class="navbar-nav flex-row d-none d-md-flex">
    
      <li class="navbar-status mr-2 o-50" data-toggle="tooltip" data-placement="bottom" data-trigger="hover" title="App Status Display for Background Tasks">
        <button type="button" class="btn btn-outline-status rounded waves-effect loader-small loader-dark d-none" style="opacity: 0;">
          <span class="loading float-left">
            <span class="d-block spinner"></span>
          </span>
          <i class="material-icons md-1 ml-2 float-right result result-success font-weight-bold d-none">check</i>
          <i class="material-icons md-1 ml-2 float-right result result-failure d-none">error</i>
          <span class="text ml-1"></span>
          <span class="sr-only">App Status Display for Background Tasks</span>
        </button>
      </li>

    </ul>
    
    <div class="d-none show-library-loaded mr-sm-3 mr-md-0">
      
      <form class="d-inline-flex flex-row align-items-center" data-role="search">
        <div class="input-group">
          <input type="text" class="form-control" role="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-outline-light" type="submit">Go</button>
          </div>
        </div>
      </form>
      
    </div>
    
    <div class="d-inline-flex flex-column align-items-center mb-1 mb-md-0 ml-md-3">

      <div id="auth_processing" class="form-inline mt-1 mt-md-0 text-muted font-weight-light waiting" style="display: none;">Checking</div>

      <form id="sign_out" class="form-inline mt-1 mt-md-0" style="display: none;">
        <span class="navbar-text mr-2"><span class="d-none d-lg-inline">Signed in as </span><a id="user_details" class="navbar-link username" target="_blank" href="https://security.google.com/settings/security/permissions" rel="noopener" data-toggle="tooltip" ></a></span>
        <a class="btn my-0 btn-outline-action" href="#" data-toggle="tooltip" ><span>Sign Out</span></a>
      </form>

      <form id="sign_in" class="form-inline mt-1 mt-md-0" style="display: none;">
        <a class="btn my-0 btn-outline-action" href="#" data-toggle="tooltip" >
          <div class="google-logo-wrapper d-flex align-items-center">
            <div class="google-logo d-flex">{% include images/google.svg %}</div>
          </div>
          <span class="d-none d-lg-inline">Sign in with Google</span>
          <span class="d-inline d-lg-none">Sign In</span>
        </a>
      </form>

    </div>
    
  </div>{% endif %}
  
</header>