<div class="{% if include.class %}{{ include.class }}{% endif %}">
  {%- if include.title -%}{%- capture title -%}
__{{ include.title }}__{:.font-smaller-40 .bg-dark .py-1 .px-2 .border}
{:.display-4 .line-height-smaller-60 .mx-0 .mt-1 .mb-2}
  {%- endcapture -%}
  {{ title | markdownify | strip }}
  {%- endif -%}
  {%- if include.title -%}<div class="mx-1 mx-lg-2">{%- endif -%}
  {%- capture content -%}{% include_relative {{ include.content }}.md %}{%- endcapture -%}
  {{ content | markdownify | strip }}
  {%- if include.title -%}</div>{%- endif -%}
</div>