---
layout: compress.base
css:
  primary:
    - bootstrap/functions
    - bootstrap/variables
    - bootstrap/mixins
    - bootstrap/root
    - bootstrap/reboot
    - bootstrap/type
    - bootstrap/images
    - bootstrap/grid
    - bootstrap/nav
    - bootstrap/navbar
    - bootstrap/jumbotron
    - bootstrap/utilities
    - bootstrap/buttons
    - bootstrap/dropdown
    - material/buttons
    - material/navbar
    - custom/mixins/gradients
    - custom/variables
    - custom/fonts
  secondary:
    - bootstrap/functions
    - bootstrap/variables
    - bootstrap/mixins
    - bootstrap/transitions
    - bootstrap/alert
    - bootstrap/close
    - bootstrap/modal
    - bootstrap/tables
    - bootstrap/forms
    - bootstrap/button-group
    - bootstrap/input-group
    - bootstrap/tooltip
    - bootstrap/card
    - bootstrap/popover
    - bootstrap/badge
    - bootstrap/list-group
    - bootstrap/custom-forms
    - bootstrap/spinners
    - material/menu
    - material/general
    - custom/mixins/gradients
    - custom/mixins/transitions
    - custom/mixins/transforms
    - custom/mixins/animations
    - custom/mixins/filter
    - custom/variables
    - custom/background
    - custom/common
    - custom/app
    - custom/loader
    - custom/icons
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-gb">
	
	{% include plumbing/head.html %}

	<body class="bg-transparent">
    
    <a class="skippy sr-only sr-only-focusable" href="#{{ site.app.content }}">
      <span class="skippy-text">Skip to main content</span>
    </a>
    
		{% include nav.html type="sticky-top" %}
    
    {% if page.app and site.data.apps[page.app].templates contains 'notify' %}<div
    	aria-live="polite" aria-atomic="true"
      id="{{page.app}}_Notify" class="notifications"><div class="holder"></div></div>{% endif %}
		
    <div id="{{ site.app.content }}" class="app {{ site.app.content }} mt-2 mt-xl-3">{{ content }}</div>
		
    {% include plumbing/footer.html type="app" %}
    {% include plumbing/breakpoints.html %}
    
	</body>