---
layout: compress
modules:
  - controller
  - service
imports:
- name: underscore
  load: first
- name: jquery_slim
  load: first
- name: popper
  load: first
- name: bootstrap-js
  load: last
- name: urlparser
  load: last
- name: waves-css
  load: last
- name: waves-js
  load: last
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-gb">
	
	{% include head.html %}

	<body>

		<!-- TODO: Clean this up -->
		<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<div id="path" class="navbar-left"></div>
				</div>
				<div class="collapse navbar-collapse">
					<div id="authorisation" class="navbar-right"></div>
				</div>
			</div>
		</nav>
		
		<div class="container{% unless page.simple %} content{% endunless %}">
			{{ content }}
		</div>
		
    {% include footer.html type="page" %}		
    
	</body>

</html>