---
layout: compress.base
modules:
  - generic/flags
  - generic/controller
  - generic/service
  - page
helpers:
  - strings
  - handlebars
  - backgrounds
scripts:
  - extends/math
imports:
- name: underscore
  load: first
- name: jquery_slim
  load: first
- name: popper
  load: first
- name: bootstrap-js
  load: last
- name: urlparser
  load: last
- name: waves-css
  load: last
- name: waves-js
  load: last
css:
  primary:
    - bootstrap/functions
    - bootstrap/variables
    - bootstrap/mixins
    - bootstrap/root
    - bootstrap/reboot
    - bootstrap/type
    - bootstrap/images
    - bootstrap/grid
    - bootstrap/nav
    - bootstrap/navbar
    - bootstrap/jumbotron
    - bootstrap/utilities
    - bootstrap/buttons
    - bootstrap/dropdown
    - material/buttons
    - material/navbar
    - custom/variables
    - custom/fonts
  secondary:
    - bootstrap/functions
    - bootstrap/variables
    - bootstrap/mixins
    - bootstrap/transitions
    - bootstrap/alert
    - bootstrap/close
    - bootstrap/modal
    - bootstrap/tables
    - bootstrap/forms
    - bootstrap/breadcrumb
    - bootstrap/button-group
    - bootstrap/input-group
    - bootstrap/tooltip
    - bootstrap/card
    - bootstrap/popover
    - bootstrap/badge
    - bootstrap/list-group
    - bootstrap/custom-forms
    - material/menu
    - material/general
    - custom/mixins/gradients
    - custom/mixins/transitions
    - custom/mixins/transforms
    - custom/mixins/animations
    - custom/mixins/filter
    - custom/variables
    - custom/background
    - custom/common
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-gb">
	
	{% include plumbing/head.html %}

	<body class="bg-transparent">
    
    {% unless page.simple %}<a class="skippy sr-only sr-only-focusable" href="#{{ site.app.content }}">
      <span class="skippy-text">Skip to main content</span>
    </a>{% endunless %}
    
		{% unless page.navless %}{% include nav.html type="sticky-top" %}{% endunless %}
    
    {% unless page.simple %}<h1 class="titles display-4 bg-dark text-white mt-2 mt-lg-3 mt-xl-4 mx-1 ml-md-2 ml-lg-3 ml-xl-4 px-2 py-1 rounded-lg">{{ page.title }}</h1>{% endunless %}
    
		<div id="{{ site.app.content }}" class="container">
      <div{% unless page.simple %} class="bg-page rounded-sm p-2"{% endunless %}>
        {{ content }}
      </div>
    </div>
		
    {% unless page.simple %}{% include copyright.html class="mt-2 mt-lg-3 mt-xl-4" %}{% endunless %}
    
    {% include plumbing/footer.html type="page" %}
    
	</body>
  
</html>